
@{
    ViewData["Title"] = "LoginSlashSignup";
}

<h1>Login/Signup</h1>
@*<form method="post">
    <p>
        <label asp-for="Username">Party Name:</label>
        <input asp-for="PartyName" />
        <span asp-validation-for="PartyName"></span>
    </p>
    <p>
        <label asp-for="PartySize">Party's Size:</label>
        <input asp-for="PartySize" />
        <span asp-validation-for="PartySize"></span>
    </p>
    <p>
        <label asp-for="Date">Reservation Date:</label>
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </p>
    <p>
        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </p>
    <p>
        <label asp-for="SpecialInstructions">Special Instructions:</label>
        <input asp-for="SpecialInstructions" />
    </p>
    <p>
        <label asp-for="SmokingAllowed">Smoking Allowed:</label>
        <input asp-for="SmokingAllowed" />
        <span asp-validation-for="SmokingAllowed"></span>
    </p>
    <p>
        <label asp-for="TextingOkay">Texting Okay:</label>
        <input asp-for="TextingOkay" />
        <span asp-validation-for="TextingOkay"></span>
    </p>
    <p><button type="submit">Submit</button></p>
</form>*@



